<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
	</head>
	<body>

		<header>
			<title>Sites of interests map generator</title>
		</header>

		<content>
		<div id="map" style="width: 600px; height: 400px;">
		<script type=text/javascript src="{{url_for('static', filename='mapinput.js')}}"></script>
		</div>
		</content>
	</body>
</html>